/*
* Reset rules
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** Rules for flex container */
* {
  font-family: "Open Sans", sans-serif;
}
.row {
  display: -webkit-flex;
  display: flex;
}
/* Create three unequal columns that sits next to each other */
.column {
  height: 300px; /* Should be removed. Only for demonstration */
}
/* Right column */
.column.side {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
/* Main column */
.column.main {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
/**
* Rules for header section
*/

/* Header main */

header {
  background-color: #fff;
  height: 56px;
  min-width: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 800;
}

.menu-icon {
  padding: 15px;
  font-size: 24px;
}

.social .user-icon {
  font-size: 32px;
}

/*Center items*/
.logo-img,
.search,
.menu-icon,
.logo-img img {
  margin: auto;
}

.logo-img img {
  height: auto;
  width: 80px;
}

/*Border gray*/
.search,
.search input {
  border: 1px solid #d3d3d3;
}

/*Search bar*/
.search {
  min-width: 40%;
  background-color: #f8f8f8;
  border-radius: 3px;
}

.search a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search svg {
  margin: 0 15px;
}

.icon-search {
  color: rgb(156, 156, 156);
  font-size: 20px;
}

.icon-nav {
  font-size: 24px;
  color: #606060;
}

.social svg {
  margin: auto 10px;
}

.search input {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  min-width: 90%;
}

/*required margin for top nav display */
section,
aside {
  padding: 20px 0;
  margin-top: 60px;
  min-height: 1200px;
}

/* Section Main */
section,
aside {
  background-color: #f9f9f9;
}

/*Main*/
iframe {
  width: 853px;
  height: 480px;
  display: block;
  margin: 0 auto;
}

.video,
.description {
  margin: 0 25px;
  border-bottom: solid 1px #e0e0e0;
  padding: 5px 0;
}

.video h1 {
  margin: 15px 0;
  font-weight: 600;
  color: #030303;
  font-size: 18px;
}

.video p,
.video li,
.underline {
  font-size: 14px;
  color: #606060;
  display: inline;
}

.social {
  margin-left: auto;
}

.social ul li {
  font-size: 16px;
  font-weight: 500;
}

.social button {
  padding: 10px 16px;
  margin: auto 20px;
}

.social button {
  color: #606060;
}

.underline {
  border-bottom: solid 2px #909090;
  padding-bottom: 5px;
}

.channel {
  padding: 10px 20px 10px 0;
}

.channel img {
  border-radius: 50%;
}

.channel-title {
  font-size: 14px;
  margin: 0 10px;
  padding: 10px 0;
}

.channel-title .iconify {
  color: #fff;
  background-color: #606060;
  border-radius: 50%;
  font-size: 12px;
}

.channel-title p {
  font-size: 13px;
  color: #606060;
}

.channel .social {
  margin: auto 0 auto auto;
  color: #909090;
}

.channel .social svg {
  font-size: 18px;
  margin: auto;
}
/* Aside main */

/*Pills*/
.pills {
  height: 48px;
}
.pills a {
  background-color: #ececec;
  padding: 5px 12px;
  margin: 12px 12px 12px 0;
  min-width: 12px;
  font-size: 14px;
  border-radius: 16px;
}
