/*
* Reset rules
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** Rules for flex container */

.row {
  display: -webkit-flex;
  display: flex;
}
/* Create three unequal columns that sits next to each other */
.column {
  height: 300px; /* Should be removed. Only for demonstration */
}
/* Right column */
.column.side {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
/* Main column */
.column.main {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
/**
* Rules for header section
*/

/* Header main */

header {
  background-color: #fff;
  height: 56px;
  min-width: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.menu-icon {
  margin: auto;
  padding: 15px;
}

.logo-img,
.search {
  margin: auto;
}

.logo-img img {
  height: auto;
  width: 80px;
  margin: auto;
}

.search {
  min-width: 40%;
  background-color: #f8f8f8;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
}

.search a{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search svg {
  margin: 0 15px;
}

.icon-search {
  color: rgb(156, 156, 156);
  font-size: 20px;
  
}

.icon-nav {
  font-size: 24px;
  color: #606060;
}

.social svg {
  margin: auto 10px;
}

.search input {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  min-width: 90%;
  border-right: 1px solid #d3d3d3;
}

/* Section Main */

section {
  margin: 70px 0;
  min-height: 1200px;
  background-color: brown;
}

/* Aside main */

aside {
  margin: 70px 0;
  min-height: 200px;
  background-color: darkgreen;
}
